<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Taro & jan Werkpakket 3{% endblock %}</title>
    <link rel="stylesheet" href="{{ url('css/style.css') }}">
</head>
<body>

{% block nav %}
    {% include "layout/_navigatie.twig" %}
{% endblock %}


<main>
    {% block content %}

    {% endblock %}
</main>

{% block footer %}
    {% include "layout/_footer.twig" %}
{% endblock %}

</body>
</html>
