{% extends "base/_layout.twig" %}
{% block content %}

    {% set shoppingPageEntry = craft.entries.section('shoppingpage').type('shoppingbanner').one() %}

    {% set image = shoppingPageEntry.afbeeldingHeader.one() %}

    <div id="webshop">
        <img src="{{ image.url }}" alt="{{ shoppingPageEntry.title }}" class="homepage-header-image">
        <h1>{{ shoppingPageEntry.headerTitel }}</h1>
        <p>{{ shoppingPageEntry.introductieTekst }}</p>
    </div>



{% endblock %}