.contactTotaal
{
  margin-top: 3rem;
  margin-bottom: 35rem;
}

.formulier
{
  width: 50%;
  float: left;
  padding-left: 17%;
  padding-top: 3%;
}

.contact-header
{
  width: 50%;
  float: right;
  text-align: center;
  color: #718CFE;
  margin-top: 8rem;
  padding-right: 10%;

}

.nieuwsbrief
{
  width: 100%;
  margin-top: 20rem;
}

.informatie
{
  font-weight: bold;
  padding-top: 1.5rem;
}

.informatieTitel
{
  font-weight: 500;
}

.contactTitel
{
  text-align: center;
  text-decoration: underline;
  color: #718CFE;
  font-weight: bold;
  font-size: 20px;
}