.navigatie {
  padding-top: 1rem;
  text-align: right;
  background-color: #718cfe;
  height: 3.5rem;
  width: 100%;

}

.navigatie li {
  display: inline;
  padding: 2rem;
}

.navigatie li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: inter, 'sans-serif';
  font-weight: bold;
}

.navigatie button {
  width: 7rem;
  height: 2.5rem;
  border-radius: 5px;
  font-family: inter, 'sans-serif';
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  border: 0;
  background: rgb(188, 91, 237);
  background: linear-gradient(270deg, rgba(188, 91, 237, 1) 0%, rgba(112, 141, 255, 1) 100%, rgba(2, 0, 36, 1) 202124%);
}