@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inter, "sans-serif";
}

#introductie {
  width: 90%;
  height: 600px;
  background: rgb(188, 91, 237);
  background: linear-gradient(270deg, rgb(188, 91, 237) 0%, rgb(112, 141, 255) 100%, rgb(2, 0, 36) 202124%);
  border-radius: 100px;
  margin-left: 5rem;
  margin-top: 2.5rem;
  color: #fff;
}

#introductie img {
  width: 412px;
  height: 343px;
  margin-left: 5rem;
  margin-top: 7rem;
}

#introductie h1 {
  font-size: 75px;
  float: right;
  padding-right: 10rem;
  padding-top: 11rem;
}

#introductie p {
  font-size: 25px;
  float: right;
  padding-right: 9.5rem;
  margin-top: -11rem;
  width: 50%;
}

.tussentitel {
  text-align: center;
  color: #718CFE;
  margin-top: 7rem;
  text-decoration: underline;
  font-size: 50px;
}

.detail-container {
  display: flex;
  flex-direction: row;
}

.links {
  width: 30%;
}

.links img {
  width: 500px;
  height: auto;
  margin-top: 6rem;
  margin-left: 10rem;
}

.rechts {
  width: 70%;
  color: #718CFE;
  margin-top: 9rem;
  margin-left: 15rem;
  font-size: 26px;
}

#button2 {
  width: 12rem;
  font-size: 16px;
}

#webshop {
  width: 90%;
  height: 600px;
  background: rgb(188, 91, 237);
  background: linear-gradient(270deg, rgb(188, 91, 237) 0%, rgb(112, 141, 255) 100%, rgb(2, 0, 36) 202124%);
  border-radius: 100px;
  margin-left: 5rem;
  margin-top: 2.5rem;
  color: #fff;
}

#webshop img {
  width: 412px;
  height: 343px;
  margin-right: 9rem;
  margin-top: 7rem;
  float: right;
}

a {
  text-decoration: none;
}

#webshop h1 {
  font-size: 75px;
  float: left;
  padding-left: 10.6rem;
  padding-top: 11rem;
}

#webshop p {
  font-size: 25px;
  float: left;
  padding-left: 11rem;
  margin-top: 2rem;
  width: 50%;
}

.tussentitel {
  text-align: center;
  color: #718CFE;
  margin-top: 7rem;
  text-decoration: underline;
  font-size: 50px;
}

.productdescription {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.contactTotaal {
  margin-top: 3rem;
  margin-bottom: 30rem;
}

.formulier {
  width: 50%;
  float: left;
  padding-left: 17%;
  padding-top: 3%;
}

.contact-header {
  width: 50%;
  float: right;
  text-align: center;
  color: #718CFE;
  margin-top: 8rem;
  padding-right: 10%;
}

.nieuwsbrief {
  width: 100%;
  margin-top: 20rem;
}

.informatie {
  font-weight: bold;
  padding-top: 1.5rem;
}

.informatieTitel {
  font-weight: 500;
}

.contactTitel {
  text-align: center;
  text-decoration: underline;
  color: #718CFE;
  font-weight: bold;
  font-size: 20px;
}

.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  margin-left: 5.2%;
}

.product-item {
  margin-right: 10px;
}

.product-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.product-image {
  width: 300px;
  height: 300px;
  border: 5px solid #B95CED;
  border-radius: 5px;
  padding: 15px;
}

.product-details {
  padding-top: 1.5rem;
  color: #718CFE;
  font-weight: bold;
  font-size: 20px;
}

.product-details1 {
  width: 400px;
  padding-top: 1.5rem;
  color: #718CFE;
  font-weight: bold;
  font-size: 20px;
}

.stock {
  padding-top: 1rem;
}

.add-to-cart-button {
  width: 8rem;
  height: 3rem;
  color: white;
  background: rgb(188, 91, 237);
  background: linear-gradient(270deg, rgb(188, 91, 237) 0%, rgb(112, 141, 255) 100%, rgb(2, 0, 36) 202124%);
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.product-lijst {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 3rem;
}

.pagination {
  margin-left: 18rem;
  margin-top: 2rem;
}

.page-numbers {
  width: 50px;
  height: 50px;
  color: white;
  background: rgb(188, 91, 237);
  background: linear-gradient(270deg, rgb(188, 91, 237) 0%, rgb(112, 141, 255) 100%, rgb(2, 0, 36) 202124%);
  border: 0;
  border-radius: 10px;
  margin: 2rem;
  cursor: pointer;
}

.filter-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  color: #718cfe;
  margin-left: 175px;
  font-size: 30px;
}

.product-container {
  width: 70%;
  padding-left: 20px;
}

.filter-container {
  width: 30%;
  margin-top: 300px;
}

.page-container {
  display: flex;
}

.submitbutton {
  width: 8rem;
  height: 3rem;
  color: white;
  background: rgb(188, 91, 237);
  background: linear-gradient(270deg, rgb(188, 91, 237) 0%, rgb(112, 141, 255) 100%, rgb(2, 0, 36) 202124%);
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.filter-container {
  justify-content: center;
}

.filterItem {
  width: 150%;
}
.filterItem label {
  color: #718CFE;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.text, .image {
  width: 50%;
  padding: 0;
  margin: 0;
}

.fui-page-container {
  width: 70%;
  margin: 0 auto;
}

.fui-btn:not(:disabled):not(.disabled) {
  display: block;
  margin: 1rem auto;
}

.formTitel {
  width: 100%;
  padding-left: 15%;
  margin-top: 3rem;
  color: #718CFE;
}

#rowContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 15%;
  margin: 0;
}

#contentpagina {
  max-width: 99%;
}

#pageHeader {
  align-content: center;
  justify-content: center;
  padding: 2%;
}
#pageHeader p {
  font-size: 20px;
}

.title {
  padding: 4%;
}
.title h1 {
  text-align: center;
  font-size: 75px;
  color: #718CFE;
}

#footer {
  width: 100%;
  height: 200px;
  background: rgb(188, 91, 237);
  background: linear-gradient(270deg, rgb(188, 91, 237) 0%, rgb(112, 141, 255) 100%, rgb(2, 0, 36) 202124%);
  margin-top: 8rem;
  padding-top: 20px;
}

#footer p {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  padding-top: 25px;
  color: #fff;
}

.navigatie {
  padding-top: 1rem;
  text-align: right;
  background-color: #718cfe;
  height: 3.5rem;
  width: 100%;
}

.navigatie li {
  display: inline;
  padding: 2rem;
}

.navigatie li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: inter, "sans-serif";
  font-weight: bold;
}

.navigatie button {
  width: 7rem;
  height: 2.5rem;
  border-radius: 5px;
  font-family: inter, "sans-serif";
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  border: 0;
  background: rgb(188, 91, 237);
  background: linear-gradient(270deg, rgb(188, 91, 237) 0%, rgb(112, 141, 255) 100%, rgb(2, 0, 36) 202124%);
}

/*# sourceMappingURL=style.css.map */
