*,
*::before,
*::after {
  box-sizing: border-box;
}

.text, .image {
  width: 50%;
  padding: 0; 
  margin: 0; 
}

.fui-page-container {
  width: 70%;
  margin: 0 auto; 
}

.fui-btn:not(:disabled):not(.disabled) {
  display: block; 
  margin: 1rem auto; 
}

.formTitel {
  width: 100%;
  padding-left: 15%;
  margin-top: 3rem;
  color: #718CFE;

}

#rowContent {
  display: flex;
  flex-direction: row;
  width: 100%; 
  padding: 0 15% ; 
  margin: 0; 
  

  
  }

#contentpagina
{
  max-width: 99%;
}

#pageHeader{
  align-content: center;
  justify-content: center;
  padding: 2%;
  p{
    font-size: 20px;
  }
}
.title{
  padding: 4%;
  h1{
    text-align: center;
    font-size: 75px;
    color: #718CFE;
  }
}

