


<section id="formContent">
    <div>
        <div>
            <h1 class="formTitel">{{ block.newFormTitle }}</h1>
            <p class="formTitel">{{ block.formDescription }}</p>
        </div>
        <div>
        {{ craft.formie.renderForm(block.nieuweForm.one().handle) }}
        </div>
    </div>
</section>