<head>
{% do craft.app.view.registerCssFile('@web/css/_main.css') %}
</head>
{% set products = craft.entries.section('product').limit(3).all() %}

<section>
    <div class="gallery">
        {% for product in products %}
            {% set image = product.productImage.one() %}
            <div class="product">
                <img src="{{ image.url }}" alt="{{ product.title }}">
                <h2>{{ product.title }}</h1>
                <p>{{ product.productStock }}</p>
            </div>
        {% endfor %}
    </div>
</section>

