{% block content %}

    <nav class="navigatie">
        <ul>
            <li><a href="../pages/_homepage.twig">{{ navbar.homepage }}</a></li>
            <li><a href="../pages/_shoppingpage.twig">{{ navbar.shoppingpage }}</a></li>
            <li><a href="../pages/_contactpage.twig">{{ navbar.contact}}</a></li>
        </ul>
    </nav>

{% endblock %}